@import "vendor/bootstrap/bootstrap/variables";
@import "variables";

//scss-lint:disable all
.gitlab-content-container {
  padding-top: 20px !important;
}

//scss-lint:disable all
.forrester-logo {
  display: none !important;
}
